
@font-face {
    font-family: Gasalt-Black;
    src: url(/font/Gasalt-Black.ttf);
}

@font-face {
    font-family: Gasalt-Regular;
    src: url(/font/Gasalt-Regular.ttf);
}

@font-face {
    font-family: Gasalt-Thin;
    src: url(/font/Gasalt-Thin.ttf);
}
